svg(fill='none' viewBox='0 0 800 430' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg')
  foreignObject(width='100%' height='100%')
    div(xmlns='http://www.w3.org/1999/xhtml')
      style.
        #{styles}
      body
        .terminal-frame
          .piece.output
            h1 Henrique Borges
            p.
              Desenvolvedor Front End criativo, entusiasta do open-source, usuário linux experiente e fluente em inglês
            nav
              a(href='https://github.com/henriquehbr') &gt; GitHub
              a(href='https://stackoverflow.com/users/9182121/henriquehbr') &gt; StackOverflow
              a(href='https://reddit.com/u/henriquehbr') &gt; Reddit
          .piece.scanlines
            .piece.glow
