extends crt.pug

block content
  body
    .terminal-frame
      .piece.output
        h1 henriquehbr.dev
        p Full time open-sourcerer, linux enthusiast and Svelte fanatic
        nav
          a(href='https://github.com/henriquehbr') &gt; github.com/henriquehbr
          a(href='https://stackoverflow.com/users/9182121/henriquehbr') &gt; stackoverflow.com/u/9182121
          a(href='https://reddit.com/u/henriquehbr') &gt; reddit.com/u/henriquehbr
      .piece.scanlines
        .piece.glow
