.glow 
  animation crt-glow 60s infinite
  background radial-gradient(
    circle at center,
    #1bd459 0,
    rgba(27, 212, 89, 0.88) 58%,
    rgba(21, 235, 92, 0.57) 80%,
    rgba(19, 94, 29, 0.27) 93%,
    rgba(10, 23, 12, 0) 100%
  )
  opacity 0.15
  pointer-events none
  position fixed
