.output 
  animation crt-output 10ms infinite
  background-color #031e11
  overflow hidden auto
  position absolute
  padding 2rem 2rem
  pointer-events auto
  text-shadow 0 0.2rem 1rem #0c7b46
  z-index -1

  &-webkit-scrollbar 
    width 12px
  

  &-webkit-scrollbar-thumb 
    background-clip padding-box
    background-color light-green
  

  &-webkit-scrollbar-corner 
    background-color transparent
  

