.terminal-frame 
  background-color transparent
  border-radius 2rem
  border 1rem solid
  border-bottom-color #121212
  border-left-color #080808
  border-right-color #080808
  border-top-color #020202
  box-shadow inset 0 0 18rem black, inset 0 0 3rem black, 0 0 10rem black
  height 96%
  position absolute
  top 2%
  left 2%
  width 96%
  pointer-events none

