@import 'variables'
@import 'typography'
@import 'container/*'
@import 'animations/*'
@import 'content/*'

* 
	box-sizing border-box


body 
	background #383838
	color light-green
	font-family 'Courier New'
	font-size 24px
	-webkit-font-smoothing none
	line-height 1.2
	user-select none

	a 
		color light-green
